@font-face {
    font-family: cascadia;
    src: url(../font/code/CascadiaCode-Regular.otf);
}

@font-face {
    font-family: josefin;
    src: url(../font/josefin/JosefinSlab-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../font/roboto/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: koho;
    src: url(../font/koho/KoHo-Regular.ttf);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/backgraung.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
    width: 100%;
}

.left {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.hd {
    display: flex;
    justify-content: center;
}

.home {
    display: flex;
    position: fixed;
    width: 90%;
    justify-content: space-between;
    background-color: #B37960;
    border-radius: 25px;
    min-height: 70px;
    align-items: center;
    z-index: 10;
    margin: 0.5% 5% 0% 5%;
    box-shadow: 0 0 10px #B37960;
}

.home h1 {
    font-family: roboto;
    font-size: 40px;


}

.home img {
    height: 70px;
    margin: 0px 20px;
}


.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul a {
    margin-right: 5vh;
    text-decoration: none;
    font-family: roboto;
    font-size: 20px;
    color: #5D3838;
    display: flex;
}

.menu ul a:hover {
    text-decoration: underline;
}

.container {
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0% 0%;
    padding: 5%30%;
}

.container ul {
    list-style: none;
    width: 60vh;
    height: 60vh;
}

.container ul li {
    margin-bottom: 30px;
}

.container ul li:first-child {
    color: #B37960;
    font-family: koho;
    font-size: 13vh;
    text-shadow: 0 0 10px #B37960;
}

.container ul li:nth-child(2) {
    font-size: 4vh;
    font-family: josefin;
    color: #CCCCCC;
}

.container ul li:nth-child(3) {
    font-family: roboto;
    font-size: 2.5vh;
    color: #CCCCCC;
    text-align: justify;
}

.container img {
    height: 35vh;
    border-radius: 40%;
    margin: 4vh 5vh 10vh 5vh;
}

/* SOBRE MI */

.about {
    display: flex;
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0% 0%;
    padding: 5% 25%;
}

.abimg {
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    margin: 0% 0% 0% 0%;
}

.about img {
    height: 30vw;
    border-radius: 40%;
    margin: 0%;
}

.about aside {
    width: 40%;
}

.about aside h1 {
    display: inline-block;
    width: 600px;
    font-family: koho;
    color: #7E4444;
    font-size: 113px;
    position: relative;
    left: -80%;
    text-shadow: 0 0 10px;
}

.about aside p {
    width: 100%;
    margin-top: 0%;
    margin-right: 0%;
    font-family: roboto;
    font-size: 2.5vh;
    color: #CCCCCC;
    text-align: justify;
}

/* PROYECTOS */

.projects {
    display: flex;
    flex-direction: column;
    padding: 5%20%;
    height: 900px;
    width: 100%;
    margin: 0% 0%;
}

.projects h2 {
    font-size: 113px;
    font-family: koho;
    color: #7E4444;
    text-align: center;
    margin-right: 0%;
    margin-bottom: 2%;
    text-shadow: 0 0 10px;
}


.projects article {
    display: flex;
    justify-content: space-between;
    color: #5D3838;
    font-family: koho;
    font-size: 25px;
    margin-bottom: 0%;
    width: 100%;
    height: 40%;
}

.projects img {
    height: 70%;
    border-radius: 30px;
}

/* SKILLS */

.skills {
    height: 900px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    margin: 0% 0%;
    padding: 4%20%;
}

.skills h3 {
    font-size: 13vh;
    color: #B37960;
    font-family: koho;
    margin-left: 10%;
    text-shadow: 0 0 10px;
}

.skills section {
    padding: 4%;
    width: 50%;
    height: 15%;
    float: left;
}

.lang {
    font-size: 3vh;
    color: #B37960;
    font-family: koho;
}

.pbcont {
    background-color: #b8a299;
    width: 100%;
    height: 30px;
    border-radius: 12px;
    margin: 12px;
    color: white;
    font-family: koho;
    font-size: 140%;

}

.pbcss {
    background-color: #B37960;
    height: 100%;
    border-radius: 12px;
    width: 80%;
}

.pbsql {
    width: 60%;
    background-color: #B37960;
    height: 100%;
    border-radius: 12px;
}

.pbhtml {
    background-color: #B37960;
    height: 100%;
    border-radius: 12px;
    width: 80%;
}

.pbora {
    background-color: #B37960;
    height: 100%;
    border-radius: 12px;
    width: 20%;
}

.pbjava {
    background-color: #B37960;
    height: 100%;
    border-radius: 12px;
    width: 60%;
}

.pbpy {
    background-color: #B37960;
    height: 100%;
    border-radius: 12px;
    width: 30%;
}

/* CONTACTO */

.contact {
    height: 900px;
    width: 100%;
    margin: 0% 0%;
    padding: 4%20%10%20%;
}

.contact h2 {
    color: #B37960;
    font-family: koho;
    font-size: 13vh;
    width: 100%;
    text-align: center;
    margin: 0% 0%;
    text-shadow: 0 0 10px;
}

.contact form {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    margin: 0%auto;
}

.contact ul {
    width: 100%;
    height: 100%;
}

.contact li {
    list-style: none;
    width: 100%;
}

.contact label {
    display: flex;
    width: 100%;
    display: block;
    color: #794949;
    font-family: koho;
    font-size: 3vh;
    margin-top: 2vh;
}

.contact input,
#msg {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.06);
    color: #B37960;
    font-family: koho;
    font-size: 3vh;
}

#msg {
    height: 20vh;
}

.contact button {
    color: #7E4444;
    background-color: #5d383800;
    border-color: #5d383800;
    display: inline-block;
    justify-content: center;
    font-size: 60px;
    font-family: koho;
    width: 49%;
}

.contact button:hover {
    text-shadow: 0 0 10px;
}

.fot {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0% 10%;
}

footer {
    background-color: #b37960e7;
    text-align: center;
    height: 30px;
    width: 20%;
    position: fixed;
    bottom: 3%;
    border: 2px solid #ce8d71;
    border-radius: 10px;
    box-shadow: 0 0 10px #B37960;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}

footer img {
    width: 30px;
    padding: 4px;
    margin: 0px 20px;
    text-align: center;
}

.but {
    position: sticky;
    width: 3vw;
    height: 3vw;
    top: 92%;
    left: 70%;
    background-color: #B37960;
    border-radius: 10px;
    box-shadow: 0 0 10px #B37960;
}

.but img {
    width: 2vw;
    margin: 15%;
}

@media (max-width: 900px) {
    body {
        background-image: url(../img/backgraung.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
        width: 100%;
        height: 100%;
    }

    /* BARRA */

    .left {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        align-items: center;
    }

    .home {
        display: flex;
        position: fixed;
        width: 96%;
        justify-content: space-between;
        background-color: #B37960;
        border-radius: 25px;
        height: 15px;
        align-items: center;
        z-index: 10;
        margin: 2%;
        box-shadow: 0 0 10px #B37960;
    }

    .home h1 {
        display: none;
        font-family: roboto;
        font-size: 15px;


    }

    .home img {
        height: 30px;
        margin: 0px 0px;
    }


    .menu ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .menu ul a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-family: roboto;
        font-size: 13px;
        color: #5D3838;
        margin-right: 2px;
        border-radius: 20px;
        height: 40px;
        width: 78px;
        align-items: center;
        background-color: #B37960;
        box-shadow: 0 0 2px #aa735bb8;
        border: 2px solid #c48266b8;
    }

    .menu ul a:hover {
        text-decoration: none;
    }

    /* INICIO */

    .container {
        display: flex;
        flex-direction: column;
        margin: 0%0%;
        width: 100%;
        height: 850px;
        padding: 13%0%;
    }

    .container ul {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        position: relative;
        left: 2%;
        width: 90%;
        height: 75%;
    }

    .container ul li {
        margin-top: 0px;
        width: 100%;
        height: 25%;
        font-weight: 100;
        margin-bottom: 0px;
    }

    .container img {
        display: flex;
        position: relative;
        bottom: 420px;
        right: -180px;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 18%;
        margin: 0% 20% 0 20%;
        border-radius: 40%;
    }

    .container ul li:first-child {
        color: #B37960;
        font-family: koho;
        font-size: 60px;
        text-shadow: 0 0 10px #B37960;
    }

    .container ul li:nth-child(2) {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 25px;
        font-family: josefin;
        color: #CCCCCC;
    }

    .container ul li:nth-child(3) {
        font-family: roboto;
        font-size: 20px;
        color: #CCCCCC;
        text-align: justify;
    }

    /* SOBRE MI */


    .about {
        height: 850px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0% 0%;
        padding: 20%0%;
    }

    .abimg {
        display: none;
        margin: 0% 0% 0% 0%;
    }

    .about aside {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }

    .about aside h1 {
        display: flex;
        justify-content: end;
        width: 100%;
        font-family: koho;
        color: #7E4444;
        font-size: 60px;
        position: relative;
        left: 0%;
        text-shadow: 0 0 10px;
    }

    .about aside p {
        width: 100%;
        margin-left: 5%;
        font-family: roboto;
        font-size: 20px;
        color: #CCCCCC;
        text-align: justify;
    }

    /* PROYECTOS */

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0%;
        height: 850px;
        width: 100%;
        margin: 0% 0%;
        float: right;
        padding: 20%0%40%0%;
    }

    .projects h2 {
        font-size: 60px;
        font-family: koho;
        color: #7E4444;
        text-align: start;
        margin-right: 0%;
        margin-bottom: 010%;
        text-shadow: 0 0 10px;
    }

    .projects article {
        display: flex;
        justify-content: space-between;
        color: #5D3838;
        font-family: koho;
        font-size: 20px;
        margin-bottom: 2%;
    }

    .pro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #5D3838;
        font-family: koho;
        font-size: 15px;
        text-align: center;
        margin-top: 10%;
    }

    .projects img {
        margin: 0% 20%;
        height: 150px;
        border-radius: 30px;
    }

    /* SKILLS */

    .skills {
        height: 850px;
        width: 100%;
        display: inline-block;
        justify-content: center;
        margin: 0% 0%;
        padding-top: 20%;
        text-align: end;
        padding: 18%0%;
    }

    .skills h3 {
        font-size: 60px;
        color: #B37960;
        font-family: koho;
        margin-right: 15%;
        margin-bottom: 20%;
        text-shadow: 0 0 10px;
    }

    .skills section {
        padding: 20px;
        width: 50%;
        height: 15%;
        float: right;
    }

    .lang {
        font-size: 3vh;
        color: #B37960;
        font-family: koho;
    }

    .pbcont {
        background-color: #b8a299;
        width: 100%;
        height: 30px;
        border-radius: 12px;
        margin: 0px;
        color: white;
        font-family: koho;
        font-size: 140%;

    }

    .pbcss {
        background-color: #B37960;
        height: 100%;
        border-radius: 12px;
        width: 80%;
        text-align: start;
    }

    .pbsql {
        width: 60%;
        background-color: #B37960;
        height: 100%;
        border-radius: 12px;
        text-align: start;
    }

    .pbhtml {
        background-color: #B37960;
        height: 100%;
        border-radius: 12px;
        width: 80%;
        text-align: start;
    }

    .pbora {
        background-color: #B37960;
        height: 100%;
        border-radius: 12px;
        width: 20%;
        text-align: start;
    }

    .pbjava {
        background-color: #B37960;
        height: 100%;
        border-radius: 12px;
        width: 70%;
        text-align: start;
    }

    .pbpy {
        background-color: #B37960;
        height: 100%;
        border-radius: 12px;
        width: 30%;
        text-align: start;
    }

    /* CONTACTO */

    .contact {
        height: 800px;
        width: 100%;
        margin: 0% 0%;
        padding: 15%0%50%0%;
    }

    .contact ul {
        width: 100%;
    }

    .contact h2 {
        color: #B37960;
        font-family: koho;
        font-size: 60px;
        width: 100%;
        text-align: center;
        margin: 2% 0%;
        text-shadow: 0 0 10px;
    }

    .contact form {
        display: flex;
        justify-content: flex-start;
        width: 70%;
        margin: 0%auto;
    }

    .contact li {
        list-style: none;
        width: 100%;
    }

    .contact label {
        display: flex;
        width: 100%;
        color: #794949;
        font-family: koho;
        font-size: 20px;
        margin-top: 2vh;
    }

    .contact input,
    #msg {
        width: 100%;
        height: 4vh;
        background-color: rgba(255, 255, 255, 0.06);
        color: #B37960;
        font-family: koho;
        font-size: 3vh;
    }

    #msg {
        height: 20vh;
    }

    .contact button {
        color: #7E4444;
        background-color: #5d383800;
        border-color: #5d383800;
        display: inline-block;
        justify-content: center;
        font-size: 40px;
        font-family: koho;
        width: 49%;
    }

    .contact button:hover {
        text-shadow: 0 0 10px;
    }

    /* FOOTER */

    footer {
        background-color: #b37960e7;
        text-align: center;
        height: 30px;
        min-width: 200px;
        position: fixed;
        border: 2px solid #ce8d71;
        border-radius: 10px;
        box-shadow: 0 0 10px #B37960;
    }

    footer img {
        width: 30px;
        padding: 4px;
        margin: 0px 20px;
        text-align: center;
    }

    /* BOTON FLOTANTE */
    .but {
        display: none;
        position: none;
        width: 40px;
        height: 40px;
        top: 760px;
        left: 320px;
        background-color: #B37960;
        border-radius: 10px;
        box-shadow: 0 0 10px #B37960;
    }

    .but img {
        width: 29px;
        margin: 15%;
    }
}